.CabinetContainer {
  max-width: 640px;
  margin: 40px auto;
  padding: 40px 40px;
  animation: EnterAnimation 1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.CabinetDesc {
  font-size: 80px;
  line-height: 72px;
  font-weight: 500;
  margin-top: 0;
  margin-left: -4px;
  letter-spacing: -0.04em;
  color: #10051d40;
}

/* for mobile devices */
@media only screen and (max-width: 480px) {
  .CabinetContainer {
    padding: 0 20px 80px;
  }
}
