.Writing {
  margin-top: 40px;
  margin-bottom: 40px;
}

.Writing h6 {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.Writing a {
  text-decoration: none;
  color: inherit;
}

.Writing a:hover {
  color: #0040ff;
  background: #f2f2f2;
}

.Writing p {
  margin-top: 0;
  color: #10051d94;
}

/* for mobile devices */

@media only screen and (max-width: 480px) {
  .Writing h6 {
    font-size: 16px;
    line-height: 24px;
  }
}
